{% extends "layout.html" %}
{% block content %}

<h2 class="mb-4">Investors List</h2>

<form action="/investor/create" method="POST" class="card card-body mb-4">
    <div class="row">
        <div class="col-md-4">
            <input name="alias" class="form-control" placeholder="Alias" required>
        </div>
        <div class="col-md-6">
            <input name="username" class="form-control" placeholder="Username">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary w-100">Adicionar</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Alias</th>
            <th>username</th>
        </tr>
    </thead>
    <tbody>
        {% for investor in investors %}
        <tr>
            <td>{{ investor.id }}</td>
            <td>{{ investor.alias }}</td>
            <td>{{ investor.username }}</td>
            <td>
                <a href="/investor/edit/{{ investor.id }}" class="btn btn-warning btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm" onclick="deleteInvestor('{{ investor.id }}', '{{ investor.alias }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
