{% extends "layout.html" %}
{% block content %}

<h2 class="mb-4">Investor Transactions</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Effective</th>
            <th>Type</th>
            <th>Cash Amount</th>
            <th>Cash Currency</th>
            <th>Kind Amount</th>
            <th>Kind Currency</th>
            <th>Investor Name</th>
            <th>Transaction NAV</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.effective_datetime }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.cash_amount }}</td>
            <td>{{ transaction.cash_currency.code }}</td>
            <td>{{ transaction.kind_amount }}</td>
            <td>{{ transaction.kind_currency.code }}</td>
            <td>{{ transaction.investor.alias }}</td>
            <td>{{ transaction.transaction_nav}}</td>
            <td><button class="btn btn-danger btn-sm" onclick="deleteTransaction('{{ transaction.id }}')">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
